body {
    padding-top: 60px;
    font-family: 'Raleway', sans-serif;
    background-color: khaki;
}

#calcCase {
    width:  320px;
    height: 380.6px;
    margin: auto;
    padding-top:8px;
    padding-bottom: 5px;
    background-color: #626D75;
    box-shadow: 2px 2px black;
}

#calcBrand {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 20px;
    background-color: lightgray;
}

#calcAnswer {
    height: 33.6px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 25px;
    
    background-color: skyblue;
    box-shadow: -2px -2px darkgreen;
    
    text-align: right;
    font-family: "VT323", monospace;
    font-size: 24px;
}

#calcEquation {
    height: 22px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 25px;
    
    background-color: skyblue;
    color: grey;
    text-align: right;
    font-family: "VT323", monospace;
    font-size: 16px;
}

#calcButtonsMain{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
#calcButtonsLeft{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    height: 240px; /* Need to set this or it won't wrap columns */
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 0px;
    font-family: "Cousine", monospace;
}

#calcButtonsRight{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    height: 240px; /* Need to set this or it won't wrap columns */
    padding-bottom: 10px;
    padding-top: 10px;

    font-family: "Cousine", monospace;
}


.btnCalc {
    margin-top: 10px;
    margin-right: 10px;
    width: 60px;
    box-shadow: 2px 2px black;
}

#btnOne {
    height: 34px;
}
#btnTwo {
    height: 34px;
}
#btnThree {
    height: 34px;
}

#btnZero {
    width: 130px;
    height: 34px;
}

#btnDot {
    height: 34px;
}

#btnEquals {
    color: black; 
    background-color: limegreen;
    height: 78px;
}